<ActionBar android:title="Login"></ActionBar>

<ScrollView style.verticalAlignment="center"> 
    <StackLayout class="content">
        <GridLayout rows="auto,*">
            <Image class="img-logo" row="0" src="~/images/pied-piper-logo.png"></Image>
            <Label class="lbl-school-name m-b-30" row="1" horizontalAlignment="center" text="PIED PIPER SCHOOL"></Label>
        </GridLayout>

        <GridLayout rows="auto,auto,auto">
            <StackLayout row="0">
                <TextField #username 
                    class="input tf-input m-b-20" 
                    required hint="Username" 
                    autocapitalizationType="none" 
                    returnKeyType="next" 
                    [(ngModel)]="logIn.username"></TextField>
            </StackLayout>
            <StackLayout row="1">
                <TextField #password 
                    class="input tf-input m-b-20" 
                    required hint="Password" 
                    secure="true" 
                    returnKeyType="next" 
                    [(ngModel)]="logIn.password" ></TextField>
            </StackLayout>
            <StackLayout row="2">
                <TextField #dob 
                    class="input tf-input m-b-5" 
                    required hint="Date of Birth (dd/mm/yyyy)" 
                    keyboardType="datetime" 
                    [(ngModel)]="logIn.birthdate" 
                    returnKeyType="done"
                    (returnPress)="login()"></TextField>
            </StackLayout>
        </GridLayout>

        <GridLayout rows="auto,*">
            <Label class="error-msg text-center m-y-5" row="0" text="{{errorMessage}}" ></Label>
            <Button class="btn-login m-b-20" [class.btn-login-disabled]="isLoginBusy" row="1" text="Sign in" (tap)="login()"></Button>
        </GridLayout>

        <GridLayout rows="auto,*">
            <Label class="text-center lbl-forgotpassword" text="Forgot password?" (tap)="forgotPassword()"></Label>
        </GridLayout>
    </StackLayout>
</ScrollView>
